<div *ngIf="!stopOperation">
  <!-- <mat-form-field >
    <input matInput [matDatepicker]="exDatePicker" [(ngModel)]="exDate">
    <mat-datepicker-toggle matSuffix [for]="exDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #exDatePicker></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="useUpIn">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="quantity">
  </mat-form-field> -->
  <mat-form-field appearance="outline">
    <mat-label>Expiration date</mat-label>
    <input matInput placeholder="9/9/2018" [matDatepicker]="exDatePicker" [(ngModel)]="exDate">
    <mat-datepicker-toggle matSuffix [for]="exDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #exDatePicker></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Use up in # days</mat-label>
    <input matInput type="number" placeholder="3" [(ngModel)]="useUpIn">
    <!-- <span matSuffix>&nbsp;days</span> -->
    <i matSuffix class="material-icons">update</i>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Quantity</mat-label>
    <input matInput type="text" placeholder="3 kg" [(ngModel)]="quantity">
    <i matSuffix class="material-icons">equalizer</i>
  </mat-form-field>
  <button mat-raised-button (click)="onAddStock()">Add stock</button>
</div>

<div *ngIf="stopOperation">
  Oh, no. <br>
  {{thingName}} couldn't be found.
</div>
