<div class="mat-typography">
  <h1>Welcome to ExDateMan!</h1>
  <p>
    The easy, intuitive and efficient way to manage shared food inventories
  </p>
  <br>

  <h2>Usage</h2>
  <p>Using ExDateMan is easy. Just follow the following steps:</p>
  <ol>
    <li>Log in or register</li>
    <li>Create an inventory or open an existing one.
    </li>
  </ol>
  <br>

  <h2>Definitions</h2>
  <p>ExDateMan utilizes some special words with a closely defined meaning:</p>
  <h3>Inventory</h3>
  <p>
    Inventories are used to
  </p>
</div>
