<mat-sidenav-container class="sidenav">
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="">
      <!-- button -->
      <button mat-icon-button (click)="sidenav.toggle()" color="basic">
        <i class="material-icons">menu</i>
      </button>
      <!-- buttonn't -->

      &nbsp;
      {{ title }}
    </mat-toolbar>
    <br />

    <div class="defaultMargin">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

  <mat-sidenav #sidenav mode="side" [(opened)]="sideNavOpenEd">
    <button mat-raised-button routerLink="/welcome" color="basic">
      <i class="material-icons">home</i> Home
    </button>
  </mat-sidenav>
</mat-sidenav-container>
