<mat-form-field appearance="outline">
  <mat-label>Email</mat-label>
  <input matInput type="email" placeholder="someone@example.com" [(ngModel)]="email">
  <i matSuffix class="material-icons">alternate_email</i>
</mat-form-field>
<br>
<mat-form-field appearance="outline">
  <mat-label>Password</mat-label>
  <input matInput type="password" placeholder="XWf%=7&eF8CxX_j^AC7x" [(ngModel)]="password">
  <i matSuffix class="material-icons">vpn_key</i>
</mat-form-field>
<br>
<mat-form-field appearance="outline">
  <mat-label>Repeat password</mat-label>
  <input matInput type="password" placeholder="XWf%=7&eF8CxX_j^AC7x" [(ngModel)]="repeat_password">
  <i matSuffix class="material-icons">lock</i>
</mat-form-field>
<br>
<button mat-raised-button (click)="register()" color="accent">Register</button>
&nbsp;
<button mat-stroked-button routerLink="/login/{{email}}" color="">Login</button>
