<a href="" class="noUnderline">
  <app-thing-card></app-thing-card>
</a>
<a href="" class="noUnderline">
  <app-thing-card></app-thing-card>
</a>
<a href="" class="noUnderline">
  <app-thing-card></app-thing-card>
</a>
<a href="" class="noUnderline">
  <app-thing-card></app-thing-card>
</a>
<a href="" class="noUnderline">
  <app-thing-card></app-thing-card>
</a>
<a href="" class="noUnderline">
  <app-thing-card></app-thing-card>
</a>
<button mat-fab class="fab" (click)="onAddThing()">
    <i class="material-icons">add</i>
  </button>
<router-outlet></router-outlet>
<app-add-thing></app-add-thing>
