.fab {
  top: auto;
  right: 20px;
  bottom: 10px;
  left: auto;
  position: fixed;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  // grid-auto-columns: 1fr, 1fr;
  // gap: 1fr 1fr;

  // display: flex !important;
  // flex-direction: column !important;
}
