<button mat-fab class="fab">
  <i class="material-icons">add</i>
</button>
<a href="" class="noUnderline">
  <app-thing-card></app-thing-card>
</a>
<a href="" class="noUnderline">
  <app-thing-card></app-thing-card>
</a>
<a href="" class="noUnderline">
  <app-thing-card></app-thing-card>
</a>
<a href="" class="noUnderline">
  <app-thing-card></app-thing-card>
</a>
<a href="" class="noUnderline">
  <app-thing-card></app-thing-card>
</a>
<a href="" class="noUnderline">
  <app-thing-card></app-thing-card>
</a>
    <router-outlet></router-outlet>
