<a routerLink="{{thing.number}}" class="noUnderline">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{thing.name}}</mat-card-title>

      <mat-card-subtitle>
        <span *ngIf="thing.categories.length === 0">
          No categories set
        </span>
        <span *ngFor="let category of thing.categories">
          {{category.name}},
        </span>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content *ngFor="let stock of thing.stocks">
      {{stock.quantity}} * {{stock.getExDate() | date}}
    </mat-card-content>
  </mat-card>
</a>
