<a routerLink="{{stock.number}}" class="noUnderline">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Use up before {{ced | date}}</mat-card-title>
      <mat-card-subtitle>Stock #{{stock.number}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- Added on: {{stock.addDat | date}} <br> -->
      Expiration date: {{stock.exDate | date}} <br>
      Use up in: {{stock.useUpIn}} <br>
      Quantity: {{stock.quantity}} <br>
      Percent left: {{stock.percentLeft}}
    </mat-card-content>
  </mat-card>
</a>
