<mat-card>
  <mat-card-header>
    <mat-card-title>Use up before {{ calculatedExDate | date }}</mat-card-title>
    <mat-card-subtitle
      >Quantity: {{ stock.quantity }} ({{ stock.percentLeft }}%
      left)</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    Added on: {{ stock.addedOn | date }} <br />
    <span *ngIf="stock.openedOn != null"
      >Opened on: {{ stock.openedOn | date }} <br
    /></span>
    Expiration date: {{ stock.exDate | date }} <br />
    <span *ngIf="stock.useUpIn != null"
      >Use up in {{ stock.useUpIn }} days after opening<br
    /></span>
  </mat-card-content>

  <mat-card-actions>
    <button mat-stroked-button routerLink="{{ stock.uuid }}" color="basic">
      Edit
    </button>
  </mat-card-actions>
</mat-card>
