# Avoid server-side configuration files...
backend/environments/*

# ...except for the default one and the example one
!backend/environments/environment.d.ts
!backend/environments/example.ts

# Development keys
backend/keys/*
!backend/keys/keys-go-here

# Omit dist
dist/*