<a routerLink="/thing/{{thing.name}}/stock/{{stock.id}}" class="noUnderline">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Use up before {{stock.getExDate() | date}}</mat-card-title>
      <mat-card-subtitle>Stock ID #{{stock.id}} of {{thing.name}} ({{thing.category}})</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Added on: {{stock.addDate | date}} <br>
      Expiration date: {{stock.exDate | date}} <br>
      Use up in: {{stock.useUpIn}} <br>
      Quantity: {{stock.quantity}} <br>
      Percent left: {{stock.percentLeft}}
    </mat-card-content>
  </mat-card>
</a>
