<!-- Main nav list -->
<mat-nav-list class="mat-typography">
  <a mat-list-item routerLink="/welcome">
    <mat-icon>home</mat-icon>
    &nbsp; Home
  </a>

  <ng-container *ngIf="authStatus.authorized">
    <a mat-list-item routerLink="/inventories">
      <mat-icon>work</mat-icon>
      &nbsp; Inventories
    </a>

    <a mat-list-item routerLink="/account" *ngIf="!authStatus.offline">
      <mat-icon>account_circle</mat-icon>
      &nbsp; Account
    </a>
  </ng-container>

  <ng-container *ngIf="!authStatus.authorized">
    <a mat-list-item routerLink="/login">
      <mat-icon>vpn_key</mat-icon>
      &nbsp; Login
    </a>

    <a mat-list-item routerLink="/register">
      <mat-icon>vpn_key</mat-icon>
      &nbsp; Register
    </a>
  </ng-container>

  <a mat-list-item routerLink="/scan">
    <mat-icon>camera</mat-icon>
    &nbsp; Scan
  </a>
</mat-nav-list>
