<mat-nav-list class="mat-typography">
  <a mat-list-item routerLink="/welcome">
    <mat-icon>home</mat-icon>
    &nbsp;Home
  </a>

  <a mat-list-item routerLink="/login">
    <mat-icon>vpn_key</mat-icon>
    &nbsp;Login
  </a>

  <a mat-list-item routerLink="/inventories">
    <mat-icon>home</mat-icon>
    &nbsp;Inventories
  </a>

  <a mat-list-item routerLink="/events">
    <mat-icon>blur_on</mat-icon>
    &nbsp;Events
  </a>

  <a mat-list-item routerLink="/scan">
    <mat-icon>camera</mat-icon>
    &nbsp;Scan
  </a>

  <!-- Filler content for testing -->
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
  <a mat-list-item>Lorem ipsum</a>
</mat-nav-list>
