// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/purple-green.css";
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

// @font-face {
//   font-family: "GeosansLight";
//   src: url("./assets/fonts/GeosansLight/GeosansLight.ttf.woff") format("woff"),
//     url("./assets/fonts/GeosansLight/GeosansLight.ttf.svg#GeosansLight")
//       format("svg"),
//     url("./assets/fonts/GeosansLight/GeosansLight.ttf.eot"),
//     url("./assets/fonts/GeosansLight/GeosansLight.ttf.eot?#iefix")
//       format("embedded-opentype");
//   font-weight: normal;
//   font-style: normal;
// }

.gsl {
  font-family: "GeosansLight";
}

.noUnderline {
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  gap: 10px;
  // grid-auto-columns: 1fr, 1fr;
  // gap: 1rem 1rem;
}

.fab {
  top: auto !important;
  right: 20px !important;
  bottom: 10px !important;
  left: auto !important;
  position: fixed !important;
}

.no-margin {
  margin: 0px !important;
}

html,
body {
  height: 100%;
  margin: 0;
}

.defaultMargin {
  margin: 8px;
}

div.mat-typography {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0px;
  }

  ul,
  ol {
    margin-top: 0px;
  }
}

// @import "~@angular/material/theming";
// @include mat-core();
// $my-theme-primary: mat-palette($mat-cyan);
// $my-theme-accent: mat-palette($mat-teal);
// // Include non-theme styles for core.
// @include mat-core();
// // Define a theme.
// $primary: mat-palette($mat-purple, 700, 500, 800);
// $accent:  mat-palette($mat-green, A200, A100, A400);
// $theme: mat-dark-theme($primary, $accent);
// // Include all theme styles for the components.
// @include angular-material-theme($theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
