<div *ngIf="!stopOperation">
<button mat-raised-button routerLink="/thing/{{thingName}}/edit-thing" color="accent">Edit/delete thing</button>
<br>
<br>
  <a routerLink="/thing/{{thingName}}/add-stock">
    <button mat-fab class="fab" (click)="onAddStock()">
      <i class="material-icons">add</i>
    </button>
  </a>

  <div *ngIf="stocks.length === 0" class="mat-typography">
    {{thingName}} currently doesn't have any stocks.
  </div>

  <div class="grid">
      <div *ngFor="let stock of stocks">
        <app-stock-card [stock]="stock"></app-stock-card>
      </div>
    </div>
</div>

<div *ngIf="stopOperation" class="mat-typography">
  <h2>
    Oh, no.
  </h2>
  <h3>
    The thing {{thingName}} could not be found.
  </h3>
</div>
